---
import type { memberInterface } from "../types";

export interface Props {
    member: memberInterface;
}

const { member } = Astro.props as Props;
---

<div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
    <div class="mt-4 pt-2">
        <a href={member.linkedIn}>
            <div class="team position-relative d-block text-center">
                <div class="image position-relative d-block overflow-hidden">
                    <img
                        src={member.src}
                        class="img-fluid rounded"
                        alt={member.name}
                    />
                    <!-- <div class="overlay rounded bg-dark"></div> -->
                </div>
                <div
                    class="content py-2 member-position bg-white border-bottom overflow-hidden rounded d-inline-block"
                >
                    <h4 class="title mb-0 teamNameLink">{member.name}</h4>
                    <small class="text-muted">{member.position}</small>
                </div>
            </div>
        </a>
    </div>
</div>
