---
// Team Page CSS
import "../styles/teampage.css";
import RootLayout from "./RootLayout.astro";
import { PageBanner, BreadCrumb } from "../components/page";

export interface Props {
    teamYear: string | number;
}

let { teamYear = "" } = Astro.props as Props;
const title = `Core Team ${teamYear} | ACM-DBIT`;
const description = `Core Team ${teamYear} . Our team consists of the best talents in the institute who are fully focused in delivering the best achievements in developing an amazing and technically advanced community of students in the campus.`;
teamYear = Number(teamYear);
---

<RootLayout
    title={title}
    description={description}
    canonical={"/team-" + teamYear}
>
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <PageBanner
            title={`Core Team ${teamYear} - ${teamYear + 1}`}
            background="/assets/images/banner/banner2.jpg"
        />
        <!-- BreadCrumb -->
        <BreadCrumb>
            <li><a href="/">Home</a></li>
            <li>Core Team {teamYear} - {teamYear + 1}</li>
        </BreadCrumb>
        <!-- Page Heading Box END ==== -->

        <!-- Page Content Box ==== -->
        <slot />
        <!-- Page Content Box END ==== -->
    </div>
</RootLayout>
